<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <queries>
        <package android:name="com.google.android.gms" />
        <intent>
            <action android:name="com.google.android.gms.ads.identifier.service.START" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".LotteryApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lottery">

        <!-- Source - https://stackoverflow.com/a/50794266
        // Posted by jeff, modified by community. See post 'Timeline' for change history
        // Retrieved 2026-03-13, License - CC BY-SA 4.0-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapsApiKey}" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".entrant.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".entrant.EntrantEventHistoryActivity"
            android:exported="false"
            android:label="My Events" />
        <activity
            android:name=".entrant.EntrantEventDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminSignInActivity"
            android:exported="false" />
        <activity
            android:name=".entrant.EntrantMainActivity"
            android:exported="false" />
        <activity
            android:name=".entrant.EntrantProfileActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminBrowseProfilesActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.OrganizerCreateEventActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.OrganizerBrowseEventsActivity"
            android:exported="false"
            android:label="@string/organizer_dashboard" />
        <activity
            android:name=".organizer.OrganizerNotificationsActivity"
            android:exported="false"
            android:label="Notifications" />
        <activity
            android:name=".organizer.OrganizerQrEventListActivity"
            android:exported="false"
            android:label="Select Event for QR" />
        <activity
            android:name=".organizer.OrganizerQrCodeDetailActivity"
            android:exported="false"
            android:label="Event QR Code" />
        <activity
            android:name=".entrant.EntrantQrScanActivity"
            android:exported="false"
            android:label="QR Scan" />
        <activity
            android:name=".admin.AdminBrowseEventsActivity"
            android:exported="false"
            android:label="@string/admin_all_events_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".organizer.EntrantsListActivity"
            android:exported="false" />

        <activity
            android:name=".admin.AdminEventDetailsActivity"
            android:exported="false"
            android:label="@string/admin_event_details_title"
            android:parentActivityName=".admin.AdminBrowseEventsActivity" />
        <activity
            android:name=".organizer.OrganizerEventDetailsActivity"
            android:exported="false"
            android:label="@string/event_details_title"
            android:parentActivityName=".organizer.OrganizerBrowseEventsActivity" />
        <activity
            android:name=".organizer.OrganizerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminBrowseImagesActivity"
            android:exported="false"
            android:label="@string/admin_image_browser_title" />
        <activity
            android:name=".admin.AdminImageDetailsActivity"
            android:exported="false"
            android:label="@string/admin_image_preview_title"
            android:parentActivityName=".admin.AdminBrowseImagesActivity" />
        <activity
            android:name=".admin.AdminBrowseLogsActivity"
            android:exported="false"
            android:label="@string/admin_logs_title" />
        <activity
            android:name=".entrant.EntrantLotteryGuidelinesActivity"
            android:exported="false" />
        <activity
            android:name=".organizer.OrganizerLotteryGuidelinesActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminProfileActivity"
            android:exported="false" />
        <activity
            android:name=".entrant.EntrantMapActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
