<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".LotteryApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lottery">
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".EntrantEventDetailsActivity"
            android:exported="false" />
        <activity android:name=".WaitingListActivity" />
        <activity
            android:name=".model.NotificationItem"
            android:exported="false" />
        <activity
            android:name=".model.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".EntrantEventDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".EntrantRegistrationActivity" />
        <activity android:name=".OrganizerRegistrationActivity" />
        <activity android:name=".AdminSignInActivity" />
        <activity android:name=".GeneralSignInActivity" />
        <activity android:name=".EntrantMainActivity" />
        <activity android:name=".EntrantProfileActivity" />
        <activity android:name=".BrowseProfilesActivity" />

        <activity
            android:name=".OrganizerCreateEventActivity"
            android:exported="false" />
        <activity
            android:name=".OrganizerBrowseEventsActivity"
            android:exported="false"
            android:label="@string/organizer_dashboard" />

        <activity
            android:name=".AdminBrowseEventsActivity"
            android:exported="false"
            android:label="@string/admin_all_events_title"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".AdminEventDetailsActivity"
            android:exported="false"
            android:label="@string/admin_event_details_title"
            android:parentActivityName=".AdminBrowseEventsActivity" />

        <activity
            android:name=".OrganizerEventDetailsActivity"
            android:exported="false"
            android:label="@string/event_details_title"
            android:parentActivityName=".OrganizerBrowseEventsActivity" />

        <activity android:name=".OrganizerProfileActivity"/>
    </application>

</manifest>
