name: CI

on:
  pull_request:
    branches: ["main"]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK SDK 21
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "temurin"
          cache: "gradle"

      - name: Enable execute permission for gradlew
        run: chmod +x Lottery/gradlew

      - name: Build
        run: ./gradlew build
        working-directory: Lottery

  test:
    name: Unit Test
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK SDK 21
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "temurin"
          cache: "gradle"

      - name: Enable execute permission for gradlew
        run: chmod +x Lottery/gradlew

      - name: Run unit tests
        run: ./gradlew test
        working-directory: Lottery
